@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f2f2f2;
}

.bg-image{
    background-image: url('slide_simple.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-image{
    width: 100%; 
    height: auto;
    transition: transform 0.3s ease;
}

.product-bg-image{

    background-image: url('producat-page-bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}